@media screen and (min-width: 320px) {
    .input-field-second {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 0px 0px;
        gap: 10px;

        width: 370px;
        height: 60px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        position: relative;

    }

    .input-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 24px 0px 0px;
        gap: 10px;

        width: 370px;
        height: 76px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
        position: relative;

    }

    .input-label {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        letter-spacing: -0.02em;
    }

    .input {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 10px;

        width: 370px;
        height: 51px;
        background: rgba(128, 128, 128, 0.21);

        border-radius: 8px;

        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .input-profile {
        height: 32px;

        width: 100%;
        padding: 12px;
        background: rgba(128, 128, 128, 0.21);
        border-radius: 10px;
    }

    .textarea {
        width: 100%;
        height: 200px;
        padding: 12px;
        background: rgba(128, 128, 128, 0.21);
        border-radius: 10px;
        resize: none;
    }

    .checkbox {

        width: 15px;
        height: 51px;

        accent-color: #D82521;
        border-radius: 8px;

        /* Inside auto layout */

        align-items: center;

    }

    .checkbox-field {
        display: flex;
        flex-direction: row;
        padding: 0px 24px 0px 0px;
        gap: 10px;


        /* Inside auto layout */


        position: relative;

    }

    .checkbox-label {

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;

        color: #000000;

    }

    .center-input {
        left: 50%;

        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .select {

        height: 32px;
        padding-left: 5px;
        line-height: 32px;
        background: rgba(128, 128, 128, 0.21);
        border-radius: 10px;
    }

    .jobPosition-select {

        height: 24px;
        width: 150px;

    }
    .application-description {
        position: relative;
        width: 80%;
        left: 50%;

        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 0);

    }


}

.form-file-upload {
    height: 400px;
    width: 100px;
    text-align: center;
    position: relative;
}

.input-file-upload {
    display: none;
}

.label-file-upload {
    margin-top: 10px;
    min-height: 120px;
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    background-color: #fafafa;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
}


.label-file-upload.drag-active {
    background-color: #ffffff;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

.drag-file-element {
    position: absolute;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
