.joboffer-title-font {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
}
.joboffer-company-font {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: rgba(0, 0, 0, 0.46);

}

.joboffer-workType-font {
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.font-submodule {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: rgba(0, 0, 0, 0.46);

}

.application-box {
    position: fixed;
    top: 100px;
    padding: 30px;
    right:5%;
    margin-top: 10px;

    -ms-transform: translate(-5%, -5%);
    transform: translate(-5%, 0);
    background: #FFFFFF;
    border-radius: 10px
}

.font-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.font-info {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.46);
    padding-left: 15px;
    padding-top: 2px    ;

}

.font-time {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;

    color: #000000;
}

.fullname-font2 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 22px;
}
.company-font2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.46);

}
.main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);;

}