
.navbar {
    /* Desktop Full */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    gap: 10px;

    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    z-index: 4;

    /* True White */

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*@media only screen and (min-width: 600px) {*/

/*    .navbar {*/
/*        !* Tablet Full *!*/

/*        !* Auto layout *!*/

/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*        padding: 8px 24px;*/
/*        gap: 10px;*/

/*        position: relative;*/
/*        height: 80px;*/

/*        !* True White *!*/

/*        background: #FFFFFF;*/
/*    }*/
/*}*/

@media only screen and(min-width: 320px ) {
    .navbar {

        padding: 8px 12px;
        gap: 143px;

        width: 411px;
        height: 64px;

        /* True White */

    }
}

.nav-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 16px;
    height: 42px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.nav-link {
    height: 22px;
    text-decoration: none;


    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #7C8DB0;
    flex: none;
    order: 0;
    flex-grow: 0;
}




@media only screen and (min-width: 320px) {

    .nav-wrapper {
        display: none;

    }

    .nav-mobile-menu {

        width: 32px;
        height: 32px;

        border-radius: 4px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}


@media screen  and  (min-width: 320px) {
    .nav-watermark {
        width: 200px;
        height: 20px;
    }

    .nav-menu-mobile {

        height: 36px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .user-dropdown {
        margin-top: 250px;
        position: absolute;
        right: 0;
        background: #fafafa;
        margin-right: 35px;
        border: 1px solid transparent;
        border-radius: 12px;
        height: 200px;
        align-items: center;
        list-style: none;
        display: inline-block;

    }

    .dropdown-element {
        height: 25%;
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
        border-radius: 12px;
    }
    .dropdown-element a {
        display: inline-block;
    }
}

@media only screen and (min-width: 900px) {
    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 16px;

        height: 80px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }


    .nav-wrapper {
        display: flex;
        flex-direction: row
    }

    .nav-dashboard {
        display: none;
    }

    .user-dropdown {
        margin-right: 50px;
    }

}
@media screen and (min-width: 900px) {

    .nav-watermark {
        /* Wordmark */


        display: block;
        width: 131px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .nav-menu-mobile {
        display: none;
    }

}


@media only screen and (min-width: 320px) {

    .nav-search {
        display: none;
    }
    .nav-div {
        height: 60px;
    }

    .nav-menu {
        border: 1px solid transparent;
        border-radius: 10px;
    }

}

@media screen and (min-width: 900px ) {

    .nav-search {
        display: block;
    }
}
@media screen and (min-width: 1060px) {
    .nav-search {
        /* & SearchBar */

        /* Auto layout */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;

        height: 60px;
        width: 400px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .user-dropdown {
        margin-right: 50px;
    }
}

.search-icon {
    /* _Magnifyingglass */


    width: 28px;
    height: 28px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.search-placeholder {
    /* Placeholder Label */


    width: 54px;
    height: 22px;

    /* Default size/Body */

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */

    letter-spacing: -0.408px;

    /* Label Colors/LC L Secondary */

    color: rgba(60, 60, 67, 0.6);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.search-icon-t {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    /* or 278% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Label Colors/LC L Secondary */

    color: rgba(60, 60, 67, 0.6);

}


.nav-dashboard {
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 4;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.hover {
    background: #D82521;
    opacity: 0.9;

}
.hover-text {
    color: #FFFFFF;
}
.not-hover-text {
    color: #7C8DB0;
}
.not-hover {
    background-color: #FAFAFA;
    opacity: 1;

}

.div-avatar {
    width: 60px;
    height: 60px;


    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
}

.avatar {
    box-sizing: border-box;


    /* Purple Extra Light */

    border: 1px solid #E9E8FC;
}
