.notification-container {
    position: relative;
    top: 70px;
    left: 50%;
    margin-top: 10px;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);

    background: #FFFFFF;
    border-radius: 10px
}

.notification-container > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

@media screen and (min-width: 900px) {

    .notification-container {
        position: relative;
        top: 100px;
        width: 600px;
        margin-bottom: 150px;
        left: 50%;
        margin-top: 10px;

        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 0);

        background: #FFFFFF;
        border-radius: 10px
    }

}

.notification-card {
    padding: 1.1rem 1.2rem 1.6rem 2.4rem;
    display: flex;
    flex-direction: row;
}

.notification-unseen {
    background-color: rgb(254 202 202);
}

.notification-seen {
    background-color: #FFFFFF;
}

.notification-seen:hover {
    background-color: rgb(243 244 246);
}

.notification-unseen:hover {
    background-color: rgb(248 113 113);
}

.date-font {
    color: rgba(1, 1, 1, 0.5);
    white-space: nowrap;
    margin: 0.4rem 0.8rem 0 0;
    font-size: 14px;

}